    <%- include('partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Parques Chile</title>
</head>

<body class="100vh">
    <%- include('partials/navbarHome.ejs')  %>

    <main class="h-100 d-flex justify-content-center text-white text-center">
        <section class="d-flex flex-column full-height justify-content-center">
            <h1 class="">ParquesChile</h1>
            <span>Bienvenido a ParquesChile.</span>
            <span>Un lugar para explorar los parques y plazas a lo largo del país.</span>
            <span>Siéntete libre de agregar nuevos parques y comentar en los parques existentes.</span>
            <a type="button" href="/parks" class="btn btn-md btn-light align-self-center mt-3">Explorar Parques</a>
        </section>
    </main>
</body>
</html>